body{
    margin: 25px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
.header-box{
    margin : 75px 100px;
}

.header-h1{
    font-weight: 200;
}

.input-group{
    margin: 0px 100px;
    width: 1400px;
    padding: 25px 30px;
    border: 1px solid rgb(173, 173, 173);
}

.input-box{
    margin: 0px 25px;
}

table{
    width: 80%;
    margin: 75px 100px;
}

.btn{
    margin: 0 5px;
}

.sort-box{
    margin: 50px 0% 10px 77%;
}

.icons{
    margin: 0px 5px;
}

.search-input{
    width: 50%;
    margin: 25px 30%;
}